**/bin/
**/obj/
**/TestResults/
**/node_modules/
**/*.user
**/.vs/
**/.vscode/
**/.idea/
.git/
.github/
docs/
tests/
src/web/
*.md
**/*.pfx
**/*.p12
**/*.key
**/*.pem
**/.env
**/.env.*
**/secrets.json
**/appsettings.*.local.json
